# 実習2　データの集計

## 実習概要
Pandasライブラリを使用して、以下の操作を習得します。
- ファイルの読み込み
- データの抽出
- 集計

## 事前準備
Jupyter Notebookが起動していない場合、「C:\PyAna」フォルダで、Jupyter Notebookを起動します。コマンドは以下です。
> cd C:\PyAna

> jupyter notebook

## 実習の流れ
***セルは適宜、追加してください***

### 1. 「exercise」フォルダに移動し、ノートブックを起動します（ノートブック名：「exercise2」）。

### 2. 以下のライブラリをインポートします。
- numPy
- pandas

In [1]:
import numpy as np
import pandas as pd

### 3. 以下のファイルをデータフレームとして読み込みます。データフレーム名は任意です。
- ファイル名：「exercise2-3_sjis.csv」（文字コード：「Shift-JIS」）

In [2]:
df = pd.read_csv("exercise2-3_sjis.csv", encoding="Shift-JIS")
df

      注文番号  店舗名 来店曜日 来店時間帯     滞留時間   性別    年齢層  年齢  合計金額  フラグ
0        6  01A  07日  03夜間   534.98  01男   04中年  58  1104    0
1       10  01A  03水  03夜間  2484.00  01男  02中高生  16   126    0
2       16  01A  02火  02日中   745.52  01男  02中高生  15   418    0
3       17  01A  04木  02日中    35.04  01男  02中高生  13   549    0
4       20  01A  01月  03夜間   459.99  01男   04中年  48  1480    0
5       28  01A  01月   01朝  1091.88  01男   04中年  37   394    0
6       32  01A  01月  03夜間   429.72  01男   05壮年  64  1079    0
7       37  01A  07日  02日中   301.81  01男   04中年  39   449    0
8       38  01A  04木  03夜間    64.02  01男   03青年  20   542    0
9       42  01A  03水  03夜間  2207.00  01男  02中高生  18    86    0
10      43  01A  02火  02日中  1131.86  01男   04中年  57   327    0
11      47  01A  07日   01朝   912.34  01男  02中高生  13   442    0
12      57  01A  02火  03夜間   410.72  01男   03青年  21   715    0
13      58  01A  06土  02日中   653.86  01男  02中高生  17   406    0
14      65  01A  02火  03夜間   796.92  01男   05壮年  61   479    0
15      66  01A  06土  03夜間   989.97  01男   04中年  58   796    0
16      67  01A  01月  02日中   388.38  01男   05壮年  75   298    0
17      77  01A  07日  02日中   457.64  01男   04中年  58   420    0
18      78  01A  01月  03夜間  1263.80  01男   03青年  24   779    0
19      82  01A  07日  02日中   532.84  01男  02中高生  16   292    0
20      94  01A  04木  03夜間   339.00  01男  02中高生  18   580    0
21      96  01A  04木  03夜間    70.00  01男  02中高生  13   324    0
22      97  01A  01月   01朝   467.31  01男   03青年  20   110    0
23     104  01A  01月  03夜間   561.07  01男   04中年  44  1151    0
24     106  01A  06土  02日中   598.68  01男   03青年  22   623    0
25     126  01A  05金   01朝   266.17  01男   03青年  26   198    0
26     128  01A  02火  02日中   749.39  01男   04中年  48   355    0
27     134  01A  01月  02日中   713.61  01男   03青年  32   413    0
28     135  01A  03水   01朝   890.55  01男   03青年  26   563    0
29     138  01A  03水   01朝  1163.77  01男  02中高生  15   527    0
...    ...  ...  ...   ...      ...  ...    ...  ..   ...  ...
3886  3755  03C  04木  02日中   436.19  02女   01小児   8   894    1
3887  3756  03C  07日  03夜間  1471.00  02女  02中高生  17   220    1
3888  3765  03C  07日  03夜間   844.71  02女   04中年  54   567    1
3889  3766  03C  07日  02日中   199.52  02女   03青年  27   515    1
3890  3782  03C  02火   01朝  1103.64  02女   04中年  56   933    1
3891  3794  03C  03水  03夜間   434.84  02女   03青年  25   452    1
3892  3795  03C  03水  03夜間  2227.00  02女   01小児  11    28    1
3893  3799  03C  04木  02日中  1072.49  02女  02中高生  16  1060    1
3894  3800  03C  01月  02日中   543.31  02女   04中年  55   985    1
3895  3801  03C  05金  03夜間  1108.00  02女  02中高生  17    98    1
3896  3805  03C  05金   01朝   399.21  02女   03青年  20   425    1
3897  3809  03C  02火  03夜間   393.74  02女   05壮年  64   483    1
3898  3812  03C  05金  03夜間   278.66  02女   03青年  19   349    1
3899  3816  03C  01月  03夜間  1145.90  02女   04中年  56   299    1
3900  3820  03C  01月  02日中   390.30  02女  02中高生  14   384    1
3901  3821  03C  04木  02日中   727.23  02女   03青年  24   899    1
3902  3829  03C  03水  03夜間  1904.00  02女  02中高生  18    32    1
3903  3836  03C  04木  03夜間  1009.22  02女   04中年  57   475    1
3904  3846  03C  04木  03夜間  1021.23  02女   01小児   9   673    1
3905  3856  03C  03水  03夜間  1751.00  02女  02中高生  14   102    1
3906  3862  03C  07日  03夜間  1137.00  02女  02中高生  16   272    1
3907  3867  03C  01月  02日中   627.63  02女   04中年  52  1056    1
3908  3879  03C  01月  02日中  1154.10  02女   04中年  56  1062    1
3909  3880  03C  02火  02日中   105.67  02女  02中高生  15   505    1
3910  3885  03C  05金   01朝   673.84  02女   05壮年  70   223    1
3911  3887  03C  03水  03夜間  1087.75  02女   04中年  39   111    1
3912  3890  03C  06土   01朝   291.89  02女   04中年  45   628    1
3913  3896  03C  02火  03夜間  1595.00  02女  02中高生  17   357    1
3914  3911  03C  02火   01朝   428.60  02女   04中年  50   633    1
3915  3916  03C  04木  03夜間    97.13  02女   05壮年  64   800    1

[3916 rows x 10 columns]

### 4. データが正しく読み込まれているかを確認するために、先頭行と末尾行を抽出します。

In [3]:
df.head()

   注文番号  店舗名 来店曜日 来店時間帯     滞留時間   性別    年齢層  年齢  合計金額  フラグ
0     6  01A  07日  03夜間   534.98  01男   04中年  58  1104    0
1    10  01A  03水  03夜間  2484.00  01男  02中高生  16   126    0
2    16  01A  02火  02日中   745.52  01男  02中高生  15   418    0
3    17  01A  04木  02日中    35.04  01男  02中高生  13   549    0
4    20  01A  01月  03夜間   459.99  01男   04中年  48  1480    0

In [4]:
df.tail()

      注文番号  店舗名 来店曜日 来店時間帯     滞留時間   性別    年齢層  年齢  合計金額  フラグ
3911  3887  03C  03水  03夜間  1087.75  02女   04中年  39   111    1
3912  3890  03C  06土   01朝   291.89  02女   04中年  45   628    1
3913  3896  03C  02火  03夜間  1595.00  02女  02中高生  17   357    1
3914  3911  03C  02火   01朝   428.60  02女   04中年  50   633    1
3915  3916  03C  04木  03夜間    97.13  02女   05壮年  64   800    1

### 5. 以下の情報が確認できるアウトプットを、表などで作成してください。

店舗名別のデータの個数（注文番号数）

In [13]:
set(df["店舗名"])

{'01A', '02B', '03C'}

In [20]:
print(
    [(d, len(df[df["店舗名"]==d]))for d in set(df["店舗名"]) if d == '01A'],
    [(d, len(df[df["店舗名"]==d]))for d in set(df["店舗名"]) if d == '02B'],
    [(d, len(df[df["店舗名"]==d]))for d in set(df["店舗名"]) if d == '03C'],
     )

[('01A', 1316)] [('02B', 1262)] [('03C', 1338)]

In [19]:
df["店舗名"].value_counts()

03C    1338
01A    1316
02B    1262
Name: 店舗名, dtype: int64

「店舗名×来店時間帯」別のデータの個数（注文番号数）

In [22]:
df["店舗名"].value_counts()

03C    1338
01A    1316
02B    1262
Name: 店舗名, dtype: int64

「店舗名×来店時間帯」別の滞留時間の平均

In [28]:
aa = df.groupby("店舗名")["滞留時間"].mean()
aa

店舗名
01A    650.968412
02B    664.749120
03C    670.357414
Name: 滞留時間, dtype: float64

「店舗名×来店時間帯」別の合計金額の合計

In [29]:
bb = df.groupby("店舗名")["滞留時間"].sum()
bb

店舗名
01A    856674.43
02B    838913.39
03C    896938.22
Name: 滞留時間, dtype: float64