# オプション実習2　データの加工

## 実習概要
Pandasライブラリを使用して、以下の操作を習得します。
- グループ化
- 結合
- 離散化

## 事前準備
Jupyter Notebookが起動していない場合、「C:\PyAna」フォルダで、Jupyter Notebookを起動します。コマンドは以下です。
> cd C:\PyAna

> jupyter notebook

## 実習の流れ
***セルは適宜、追加してください***

### 1. 下記フォルダに移動し、ノートブックを起動します（ノートブック名：「Option2.ipynb」）。
> 「exercise」フォルダ⇒「Option」フォルダ⇒「02_データ加工」

### 2. 以下のライブラリをインポートします。
- numPy
- pandas

In [1]:
import numpy as np
import pandas as pd

### 3. 以下のファイルをそれぞれ別のデータフレームとして読み込みます。データフレーム名は任意です。
- ファイル名：「01購入者アンケート.csv」（文字コード：「Shift-JIS」）
- ファイル名：「02購入者情報.csv」（文字コード：「Shift-JIS」）

In [3]:
df1 = pd.read_csv("01購入者アンケート.csv", encoding="Shift-JIS", engine="python")
df2 = pd.read_csv("02購入者情報.csv", encoding="Shift-JIS", engine="python")

### 4. データの列構造を確認するために、それぞれ先頭行を抽出します。

In [6]:
df1.head()

   購入番号       購入日  会員番号  商品番号  購入個数  商品満足度  Ｗｅｂの使いやすさ  サポート評価  配送評価
0  3227  2012/4/3   492     1     8      5          4       3     5
1  3228  2012/4/3   122     9    13      5          3       4     3
2  3229  2012/4/3    36     1    10      3          5       3     3
3  3230  2012/4/3   182     1    10      4          4       4     4
4  3231  2012/4/3   413     7    11      4          4       1     5

In [7]:
df2.head()

   会員番号  年齢  性別
0     1  70  男性
1     2  33  男性
2     3  34  女性
3     4  62  女性
4     5  57  女性

### 5. 会員ごとにグループ化し、以下を確認します。

会員ごとの購入個数、評価（商品満足度、Ｗｅｂの使いやすさ、サポート評価、配送評価）の平均を、表で確認します。

In [9]:
df1.groupby("会員番号")["購入個数", "商品満足度", "Ｗｅｂの使いやすさ", "サポート評価",

"配送評価"].mean()

           購入個数     商品満足度  Ｗｅｂの使いやすさ    サポート評価      配送評価
会員番号
1      8.000000  4.700000   4.100000  3.900000  4.000000
2      9.000000  1.333333   3.666667  4.666667  4.000000
3      9.250000  1.750000   4.750000  1.000000  4.000000
4      8.900000  4.100000   4.100000  3.900000  3.800000
5      8.545455  4.818182   3.818182  5.000000  4.272727
8      6.000000  1.000000   5.000000  3.000000  5.000000
9     10.800000  3.000000   4.000000  1.000000  3.600000
11    10.333333  1.000000   3.000000  5.000000  3.666667
12     9.333333  1.000000   4.000000  3.666667  3.000000
13     9.666667  1.333333   4.333333  4.000000  4.333333
14     6.666667  1.333333   3.333333  5.000000  3.666667
15     9.000000  2.333333   4.000000  4.000000  4.333333
16     6.800000  2.200000   4.000000  1.000000  3.800000
17     9.500000  1.750000   3.500000  1.000000  3.750000
18     7.600000  3.000000   4.400000  5.000000  3.800000
19     8.333333  1.333333   5.000000  4.666667  4.000000
20     9.500000  1.000000   4.500000  5.000000  4.500000
21     9.500000  1.750000   4.000000  3.000000  4.500000
22    10.666667  2.666667   4.333333  5.000000  4.000000
23     8.000000  1.000000   3.500000  4.000000  5.000000
25     8.600000  2.000000   4.400000  3.400000  4.800000
26     7.000000  1.000000   3.000000  3.000000  5.000000
27    10.333333  2.333333   4.000000  4.666667  4.333333
28    10.000000  4.900000   3.700000  4.000000  4.200000
29     8.333333  4.333333   3.500000  5.000000  4.333333
30     8.454545  3.181818   4.363636  4.909091  4.090909
31     8.000000  5.000000   3.777778  1.000000  3.888889
32     9.000000  1.500000   3.500000  5.000000  4.750000
33     8.000000  4.833333   4.500000  3.166667  4.500000
34    11.000000  1.750000   3.750000  5.000000  3.750000
...         ...       ...        ...       ...       ...
471    8.636364  3.000000   4.181818  3.000000  3.909091
472    9.000000  1.000000   5.000000  5.000000  4.000000
473    8.000000  1.000000   3.000000  5.000000  5.000000
474    8.000000  1.000000   3.000000  5.000000  3.000000
475    7.500000  4.000000   3.000000  5.000000  4.000000
476    8.800000  5.000000   4.000000  1.100000  3.900000
477    5.500000  4.000000   3.500000  3.000000  4.000000
478    8.666667  5.000000   3.333333  3.000000  3.666667
479    9.666667  1.333333   4.000000  4.000000  4.000000
480    7.500000  5.000000   4.500000  5.000000  5.000000
481    9.500000  1.000000   4.500000  3.000000  4.500000
482    8.600000  5.000000   4.000000  1.000000  3.800000
483    7.333333  5.000000   4.666667  4.000000  3.666667
484    6.000000  5.000000   4.333333  3.000000  4.000000
485    7.909091  4.090909   3.909091  3.090909  3.909091
486    9.333333  5.000000   4.666667  3.000000  4.333333
487    6.000000  5.000000   5.000000  5.000000  5.000000
488    7.500000  1.000000   5.000000  3.000000  4.500000
489    8.666667  1.000000   3.666667  5.000000  4.666667
490   13.000000  1.000000   4.500000  3.000000  4.500000
491    7.250000  4.500000   5.000000  5.000000  4.000000
492    9.000000  4.818182   4.000000  3.000000  4.090909
493    6.000000  1.000000   3.000000  5.000000  5.000000
494    8.000000  1.000000   3.500000  5.000000  4.000000
495    8.142857  5.000000   3.857143  5.000000  4.428571
496    8.866667  5.000000   3.933333  4.933333  3.866667
497   10.250000  1.000000   4.000000  5.000000  3.500000
498   12.000000  1.000000   4.000000  5.000000  5.000000
499    8.714286  4.857143   3.714286  3.000000  3.714286
500    6.000000  1.000000   4.500000  5.000000  4.500000

[484 rows x 5 columns]

会員ごとの購入個数の合計、評価（商品満足度、Ｗｅｂの使いやすさ、サポート評価、配送評価）の平均を算出します。結果は、新たなデータフレームに代入します。

In [19]:
df1.groupby("会員番号", as_index=False).agg({"購入個数": [np.sum],
                            "商品満足度": [np.mean],
                         "Ｗｅｂの使いやすさ": [np.mean],
                         "サポート評価": [np.mean],
                         "配送評価": [np.mean]
                         
                        })

    会員番号 購入個数     商品満足度 Ｗｅｂの使いやすさ    サポート評価      配送評価
          sum      mean      mean      mean      mean
0      1   80  4.700000  4.100000  3.900000  4.000000
1      2   27  1.333333  3.666667  4.666667  4.000000
2      3   37  1.750000  4.750000  1.000000  4.000000
3      4   89  4.100000  4.100000  3.900000  3.800000
4      5   94  4.818182  3.818182  5.000000  4.272727
5      8    6  1.000000  5.000000  3.000000  5.000000
6      9   54  3.000000  4.000000  1.000000  3.600000
7     11   31  1.000000  3.000000  5.000000  3.666667
8     12   28  1.000000  4.000000  3.666667  3.000000
9     13   29  1.333333  4.333333  4.000000  4.333333
10    14   20  1.333333  3.333333  5.000000  3.666667
11    15   27  2.333333  4.000000  4.000000  4.333333
12    16   34  2.200000  4.000000  1.000000  3.800000
13    17   38  1.750000  3.500000  1.000000  3.750000
14    18   38  3.000000  4.400000  5.000000  3.800000
15    19   25  1.333333  5.000000  4.666667  4.000000
16    20   19  1.000000  4.500000  5.000000  4.500000
17    21   38  1.750000  4.000000  3.000000  4.500000
18    22   32  2.666667  4.333333  5.000000  4.000000
19    23   16  1.000000  3.500000  4.000000  5.000000
20    25   43  2.000000  4.400000  3.400000  4.800000
21    26    7  1.000000  3.000000  3.000000  5.000000
22    27   31  2.333333  4.000000  4.666667  4.333333
23    28  100  4.900000  3.700000  4.000000  4.200000
24    29   50  4.333333  3.500000  5.000000  4.333333
25    30   93  3.181818  4.363636  4.909091  4.090909
26    31   72  5.000000  3.777778  1.000000  3.888889
27    32   36  1.500000  3.500000  5.000000  4.750000
28    33   48  4.833333  4.500000  3.166667  4.500000
29    34   44  1.750000  3.750000  5.000000  3.750000
..   ...  ...       ...       ...       ...       ...
454  471   95  3.000000  4.181818  3.000000  3.909091
455  472    9  1.000000  5.000000  5.000000  4.000000
456  473    8  1.000000  3.000000  5.000000  5.000000
457  474    8  1.000000  3.000000  5.000000  3.000000
458  475   15  4.000000  3.000000  5.000000  4.000000
459  476   88  5.000000  4.000000  1.100000  3.900000
460  477   11  4.000000  3.500000  3.000000  4.000000
461  478   26  5.000000  3.333333  3.000000  3.666667
462  479   29  1.333333  4.000000  4.000000  4.000000
463  480   15  5.000000  4.500000  5.000000  5.000000
464  481   19  1.000000  4.500000  3.000000  4.500000
465  482   43  5.000000  4.000000  1.000000  3.800000
466  483   22  5.000000  4.666667  4.000000  3.666667
467  484   18  5.000000  4.333333  3.000000  4.000000
468  485   87  4.090909  3.909091  3.090909  3.909091
469  486   28  5.000000  4.666667  3.000000  4.333333
470  487   12  5.000000  5.000000  5.000000  5.000000
471  488   15  1.000000  5.000000  3.000000  4.500000
472  489   26  1.000000  3.666667  5.000000  4.666667
473  490   26  1.000000  4.500000  3.000000  4.500000
474  491   29  4.500000  5.000000  5.000000  4.000000
475  492   99  4.818182  4.000000  3.000000  4.090909
476  493    6  1.000000  3.000000  5.000000  5.000000
477  494   32  1.000000  3.500000  5.000000  4.000000
478  495   57  5.000000  3.857143  5.000000  4.428571
479  496  133  5.000000  3.933333  4.933333  3.866667
480  497   41  1.000000  4.000000  5.000000  3.500000
481  498   12  1.000000  4.000000  5.000000  5.000000
482  499   61  4.857143  3.714286  3.000000  3.714286
483  500   12  1.000000  4.500000  5.000000  4.500000

[484 rows x 6 columns]

グループ化の結果を確認します。

列名を以下に変更します。　※会員番号は変更なし
- 「会員番号」　→　「会員番号」
- 「購入個数」　→　「累計購入個数」
- 「商品満足度」　→　「平均商品満足度」
- 「Ｗｅｂの使いやすさ」　→　「平均Ｗｅｂの使いやすさ」
- 「サポート評価」　→　「平均サポート評価」
- 「配送評価」　→　「平均配送評価」

列名が変更されていることを確認します。

### 6. 会員番号を基に、以下のデータフレームを結合し、新たなデータフレームに代入します。
- グループ化されたデータフレーム
- 「02購入者情報.csv」を読み込んだデータフレーム

結合の結果を確認します。

### 7. 年齢を10刻みの年齢層として離散化し、新たな列を作成します。

列作成の結果を確認します。

### 8. 年齢層別、性別別の一人当たり累計商品購入個数（平均）を算出します。