# 実習2　データの集計

## 実習概要
Pandasライブラリを使用して、以下の操作を習得します。
- ファイルの読み込み
- データの抽出
- 集計

## 事前準備
Jupyter Notebookが起動していない場合、「C:\PyAna」フォルダで、Jupyter Notebookを起動します。コマンドは以下です。
> cd C:\PyAna

> jupyter notebook

## 実習の流れ
***セルは適宜、追加してください***

### 1. 「exercise」フォルダに移動し、ノートブックを起動します（ノートブック名：「exercise2」）。

### 2. 以下のライブラリをインポートします。
- numPy
- pandas

In [1]:
import numpy as np
import pandas as pd

### 3. 以下のファイルをデータフレームとして読み込みます。データフレーム名は任意です。
- ファイル名：「exercise2-3_sjis.csv」（文字コード：「Shift-JIS」）

In [2]:
df = pd.read_csv('exercise2-3_sjis.csv', encoding='shift-jis') #exercise2-3_sjis.csvファイルを読み込み(Shift-JIS形式)

### 4. データが正しく読み込まれているかを確認するために、先頭行と末尾行を抽出します。

In [3]:
df.head() #先頭5行の抽出

   注文番号  店舗名 来店曜日 来店時間帯     滞留時間   性別    年齢層  年齢  合計金額  フラグ
0     6  01A  07日  03夜間   534.98  01男   04中年  58  1104    0
1    10  01A  03水  03夜間  2484.00  01男  02中高生  16   126    0
2    16  01A  02火  02日中   745.52  01男  02中高生  15   418    0
3    17  01A  04木  02日中    35.04  01男  02中高生  13   549    0
4    20  01A  01月  03夜間   459.99  01男   04中年  48  1480    0

In [4]:
df.tail() #末尾5行の抽出

      注文番号  店舗名 来店曜日 来店時間帯     滞留時間   性別    年齢層  年齢  合計金額  フラグ
3911  3887  03C  03水  03夜間  1087.75  02女   04中年  39   111    1
3912  3890  03C  06土   01朝   291.89  02女   04中年  45   628    1
3913  3896  03C  02火  03夜間  1595.00  02女  02中高生  17   357    1
3914  3911  03C  02火   01朝   428.60  02女   04中年  50   633    1
3915  3916  03C  04木  03夜間    97.13  02女   05壮年  64   800    1

### 5. 以下の情報が確認できるアウトプットを、表などで作成してください。

店舗名別のデータの個数（注文番号数）

In [5]:
df['店舗名'].value_counts() # 店舗名別のデータの個数（注文番号数）をカウント

03C    1338
01A    1316
02B    1262
Name: 店舗名, dtype: int64

「店舗名×来店時間帯」別のデータの個数（注文番号数）

In [6]:
# 店舗名、来店時間帯別の注文番号数をカウント
df.pivot_table('注文番号', aggfunc='count', index='店舗名', columns='来店時間帯')

来店時間帯  01朝  02日中  03夜間
店舗名
01A    252   445   619
02B    227   465   570
03C    235   466   637

「店舗名×来店時間帯」別の滞留時間の平均

In [7]:
# 店舗名、来店時間帯別の平均滞留時間を集計
df.pivot_table('滞留時間', index='店舗名', columns='来店時間帯')

来店時間帯         01朝        02日中        03夜間
店舗名
01A    547.832460  693.059011  662.696914
02B    546.930396  712.383892  672.809965
03C    583.184213  729.610193  659.170455

「店舗名×来店時間帯」別の合計金額の合計

In [8]:
# 店舗名、来店時間帯別の合計金額の合計を集計
df.pivot_table('合計金額', aggfunc='sum', index='店舗名', columns='来店時間帯')

来店時間帯     01朝    02日中    03夜間
店舗名
01A    131686  268968  345662
02B    118908  281509  315485
03C    119095  277444  352744